/* De volledige bar, dus nog niet het gedeelte waar de elementen in zitten */
.top-navbar {
    background-color: #8343CF; /* paars */
    width: 100%;
}

/* Het gedeelte waar de elementen WEL in zitten */
.top-navbar nav {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.7rem;
}

/* Het gedeelte met de logo en de links. */
.logo-and-hyperlinks {
    display: flex;
    align-items: center;
}

/* Het logo */
.logo {
    height: 2rem;
    width: 2rem;
}

.logo:hover {
    color: #FFA633; /* feller oranje */
}

/* De div waar de hyperlinks in zitten */
.top-navbar nav .hyperlinks {
    margin-left: 1rem;
    display: flex;
}

/* De hyperlinks zelf */
.top-navbar nav .hyperlinks a {
    font-size: 1rem;
    color: #F8F9FA; /* licht wit */
    padding: 6.5px 0.75rem;
    margin: 0 0.75rem;
    border-radius: 0.4rem;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    background-color: #4C2887;
}

.top-navbar nav .hyperlinks a:hover {
    background-color: #5A2F9F;
    color: white;
}

/* De zoekbalk */
input[type=text].main-searchbar {
    width: 30rem;
    padding: 0.6rem;
    border: 2px solid white;
    color: #212529; /* zwart */
    border-radius: 0.4rem;
}

/* het gedeelte met de winkelwagen & gebruiker (inloggen & registreren) */
.cart-and-user {
    display: flex;
    align-items: center;
    position: relative;
}

/* Buttons */
.cart-and-user button, .cart-and-user a {
    background-color: #4C2887;
    border-radius: 0.5rem;
}

.cart-and-user button:hover, .cart-and-user a:hover {
    color: white;
    background-color: #5A2F9F;
}

/* 'Inloggen' & 'Registreren' */
.cart-and-user button.account-button, .cart-and-user a.account-button {
    text-decoration: none;
    font-size: 0.9rem;
    color: #F8F9FA; /* licht wit */
    padding: 0.5rem 0.75rem;
    margin: 0 0.75rem;
    border-radius: 0.4rem;
    font-weight: bolder;
}

.user-dropdown-menu-container {
    position: absolute;
    top: 100%;
    right: 23%;
    width: 300px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    z-index: 9999;
}
.user-dropdown-menu-container.open-menu {
    max-height: 1000px;
}

.user-dropdown-menu {
    background-color: white;
    padding: 0.7rem 1rem 0.4rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px #FFA633;
    margin: 2px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h4 {
    font-weight: normal;
}

.user-dropdown-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #53556E;
    margin: 0.7rem 0 0.9rem;
}

a.user-dropdown-link {
    background-color: unset;
    border-radius: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    margin: 0.5rem 0;
}

a.user-dropdown-link:hover {
    background-color: unset;
    /*background-color: #F7F7FF;*/
}

a.user-dropdown-link svg {
    width: 2rem;
    height: 2rem;
    color: #4C2887;
    margin-right: 0.5rem;
}

a.user-dropdown-link:hover svg {
    color: #8343CF;
}

a.user-dropdown-link p {
    width: 100%;
    font-weight: normal;
}

a.user-dropdown-link:hover p {
    color: black;
    font-weight: bold;
}

a.user-dropdown-link:hover span {
    color: black;
}


.cart-button-link {
    position: relative;
}

/* Het icoontje van de winkelwagen */
button.cart-button {
    padding: 5px;
    display: flex;
    border-radius: 0.5rem;
}

.cart { /* het icoontje zelf */
    height: 27px;
    width: 27px;
}

.cart:hover { /* het icoontje zelf */
    color: white;
}

.cart-badge { /* toont hoeveel producten er in de winkelwagen zitten */
    position: absolute;
    background-color: #FFA633;
    color: white;
    top: -8px;
    right: -11px;
    border-radius: 50%;
    padding: 2px 7px;
    font-size: 0.8rem;
    font-weight: bolder;
}

/* De 'container' met alle content van de pagina */
.main-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    padding: 0 1rem;
}

/*
    MEDIA QUERIES
*/

@media screen and (max-width: 1000px) {

    .top-navbar nav {
        flex-direction: column;
    }
}