/* Brand introduction */
.brand-introduction-container {
    display: flex;
    justify-content: space-between;
}

.intro-logo{
    height: 300px;
    width: 500px;
}
#more {
    display: none;
}

.empty{
    width: 100%;
}

.highlighted-products, .shopping-experience {
    width: 100%;
    margin-top: 1rem;
    flex-direction: row;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

h2.highlighted-products-header {
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    background-color: #FFA633; /* oranje */
    border-radius: 0.5rem;
    text-align: center;
    width: 25%;
    margin: 1rem auto 0.5rem; /* margin-top 1rem, margin-bottom 0.5rem, margin-right auto, margin-left auto */
    color: #F8F9FA; /* bijna zwart */
}

.highlighted-products div.highlighted-product {
    background-color: white;

    border-radius: 0.5rem;
    padding: 0.5rem;
    display: grid;
    flex-direction: column;
    box-shadow: 2px 2px #8343CF;
    min-width: 12rem;
}

.highlighted-products div .price-and-product-link {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: row;
    padding: 0;
}

.highlighted-products div h3 {
    color: #252530; /* donker grijs */
    font-size: 1rem;
}
.highlighted-products div p {
    color: #414357; /* grijs */
    font-size: 0.88rem;
}
.highlighted-products div p.prijs {
    font-weight: bolder;
    font-size: 0.95rem;
    color: #8343CF; /* paars */
}

/* clickable icoontje om je naar de productpagina te brengen */
.highlighted-products div a {
    display: flex;

}
.highlighted-products div a svg {
    height: 1.7rem;
    width: 1.7rem;
    color: #FFA633; /* oranje */
    justify-self: end;
}
.highlighted-products div a:hover svg {
    color: #FFA633; /* oranje */
    background-color: #F5F5F5; /* bijna wit*/
    border-radius: 0.4rem;
}

/* Hero */
.hero {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Shopping experience
 - reviews, navigatie, betalingsmogelijkheden, levering
 */
.shopping-experience ul li:first-child {
    display: flex;
}

.shopping-experience ul li:first-child a {
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    text-decoration: none;
    color: inherit;

    background-color: white;
    box-shadow: 2px 2px #8343CF;
    border-radius: 0.5rem;
    padding: 0.5rem 0.4rem;

}

.shopping-experience ul li:first-child a div {
    display: flex;
    align-items: center;
}