/* Brand introduction */
.brand-introduction-container {
    display: flex;
    justify-content: space-between;
}

.intro-logo {
    height: 150px;
    width: 200px;
}

#more { /* read more knop */
    display: none;
}
.empty {
    width: 100%;
}

/* Hero */
.hero {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.shopping-experience {
    width: 100%;
    margin-top: 1rem;
    flex-direction: row;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

h2.highlighted-products-header {
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    background-color: #FFA633;
    border-radius: 0.5rem;
    text-align: center;
    width: 25%;
    margin: 1rem auto 0.5rem; /* margin-top 1rem, margin-bottom 0.5rem, margin-right auto, margin-left auto */
    color: #F8F9FA;
}


/* Shopping experience
 - reviews, navigatie, betalingsmogelijkheden, levering
 */
.shopping-experience ul li:first-child {
    display: flex;
}

.shopping-experience ul li:first-child a { /* button naar review pagina */
    margin-bottom: 0.8rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    text-decoration: none;
    color: inherit;

    background-color: white;
    box-shadow: 2px 2px #8343CF;
    border-radius: 0.5rem;
    padding: 0.5rem 0.4rem;

}

/* standaard styles van 'review' class overwriten bij highlighted reviews */
div.review.highlighted-review {
    padding: 0.4rem;
    font-size: 0.8rem;
    box-shadow: 1px 1px #8343CF;
}

div.product-raster { /* overwrite default styling */
    flex-flow: row nowrap;
}