.product-raster{
    max-width: 50%;
    display: flex;
    flex-flow: row wrap;
    border: solid;
}

.raster-item{
    margin: 1%;
    padding: 1px;
    flex: 20%;
    border: solid;
    width: 180px;
    max-height:250px;
}

.raster-img img{
    width: 170px;
    max-height: 300px;
    justify-content: center;
}