
/*h1.cartPageHeader {*/
/*    text-align: center;*/
/*    color: #333;*/
/*}*/

#checkoutForm {
    max-width: 55%;
    margin: 20px auto;
    background-color: #F8F9FA;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#checkoutForm h2 {
    color: #333;
}

#checkoutForm ul {
    list-style: none;
    padding: 0;
}

#checkoutForm li {
    margin-bottom: 10px;
}

#checkoutForm label {
    margin-left: 5px;
}

#checkoutForm input[type="text"],
#checkoutForm input[type="email"],
button.cartPageCheckoutButton {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button.cartPageCheckoutButton {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
}

button.cartPageCheckoutButton:hover {
    background-color: #45a049;
}

#checkoutForm p {
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
}

/*#totalAmount {*/
/*    color: #e44d26;*/
/*}*/

span.artikelCount {
    opacity: 0.45;
    font-size: 80%;
}

span.productNaam {
    width: 100%;
}

.divider:not(:first-child) {
    display: flex;
    margin-left: 30px;
}

span.totaalPrijs {
    margin-top: 58px;
}

div.aantalItemsEnKnoppen {
    display: flex;
    margin-top: 7px;
    align-items: center;
}

span.aantalItems {
    margin-right: 18px;
    /*margin-top: 10px;*/
}

.cart-page-svg {
    color: #5A2F9F;
    border: 1px solid #8343CF;
    height: 1.4rem;
    width: 1.4rem;
}

.shopping-cart-product {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 2px 2px #FFA633;
    margin-bottom: 10px;
    padding: 0.8rem 1rem;
    display: flex;
    justify-content: space-between;
}

.shopping-cart-img-container {
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #53556E;
    border-radius: 0.4rem;
    padding: 0.2rem;
}

.shopping-cart-img-container img {
    max-width: 100%;
    max-height: 100%;
}

.shopping-cart-hr {
    border: 1px solid #FFA633;
}