
h1.cartPageHeader {
    text-align: center;
    color: #333;
}

#checkoutForm {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#checkoutForm h2 {
    color: #333;
}

#checkoutForm ul {
    list-style: none;
    padding: 0;
}

#checkoutForm li {
    margin-bottom: 10px;
}

#checkoutForm label {
    margin-left: 5px;
}

#checkoutForm input[type="text"],
#checkoutForm input[type="email"],
button.cartPageCheckoutButton {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button.cartPageCheckoutButton {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
}

button.cartPageCheckoutButton:hover {
    background-color: #45a049;
}

#checkoutForm p {
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
}

#totalAmount {
    color: #e44d26;
}

.cart-page-svg {
    color: #4C2887;
    border: 1px solid #8343CF;
    height: 1.4rem;
    width: 1.4rem;
}

.info-message {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.4rem;
}