/* AR One Sans - Regular 400
 https://fonts.google.com/noto/specimen/Noto+Sans
 */
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');

/* Inria Serif - Regular 400
https://fonts.google.com/specimen/Roboto+Serif?query=serif
 */
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');

:root {

}

/* full height voor de achtergrondkleur en eventueel voor een footer */
html, body {
    height: 100%;
}
body {
    background-color: #F7F7FF;
    min-height: 100%;
}

/* Een aantal default styling weghalen */
body, h1, h2, h3, h4, h5, h6, p, ul, hr {
    margin: 0;
}
button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

/* Default fonts */
h1, h2, h3, h4, h5, h6, a, button {
    font-family: 'AR One Sans', sans-serif;
}
p, ul, li {
    font-family: 'Inria Serif', serif;
}

/* Default kleur voor SVG */
svg {
    color: #F8F9FA; /* kan worden overschreven */
}

/* Breadcrumbs */
ul.breadcrumbs {
    padding: 0.5rem;
    list-style: none;
}

ul.breadcrumbs li {
    display: inline;
    font-size: 0.95rem;
    color: #6C757D; /* gray */
}

ul.breadcrumbs li + li:before {
    padding: 0.1rem;
    color: #212529; /* black */
    content: "/\00a0";
}

ul.breadcrumbs li a {
    text-decoration: none;
    color: #212529; /* black */
    padding-bottom: 0.4rem;
}

ul.breadcrumbs li a:hover {
    color: #FFA633; /* oranje */
    border-bottom: 0.2rem solid #FFA633;
    font-weight: bolder;
}

hr {
    border-top: 1px solid #53556E; /* grijs */
    margin-bottom: 0.8rem;
}

/*
    MEDIA QUERIES
*/

@media screen and (max-width: 1000px) {

}