/* Star rating input voor 'schrijf review' formulier */
.rate {
    display: inline-block;
    border: 0;
    padding: 0;
}

/* Verberg de standaard radio buttons */
.rate > input {
    display: none;
}

/* Juiste volgorde, hoogste score rechts */
.rate > label {
    float: right;
    color: #BEC0DB;
}

.rate > label:before {
    display: inline-block;
    font-size: 1.1rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}

/* Zero stars rating */
/* .rate > label:last-child:before {
    content: "\f006 "; /* empty star outline */
/* } */

/* Halve ster */
.rate .half:before {
    content: "\f089 "; /* halve ster */
    position: absolute;
    padding-right: 0;
}

/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label {
    /*color: #73B100;*/
    color: #FFA633;

}

/* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */
{
    color: #FFD130;
}
